[flake8]
max-line-length = 79
exclude = .git,__pycache__, venv/
ignore =  E501

# E501 - По умолчанию максимальная длина строки в Python составляет 79 символов, согласно рекомендациям PEP 8. Это предупреждение помогает поддерживать читаемость кода и избегать горизонтальной прокрутки
